.root {
  border: 2px solid grey;
  padding: 1em;
  margin-bottom: 1em;
}

.root:last-child {
  margin-bottom: 0;
}

.textWithButtons {
  height: 2em;
  line-height: 2em;
}

.textWithButtons:after {
  display: block;
  clear: both;
  content: '';
}

.text {
  float: left;
  font-weight: bold;
}

.removeButton {
  float: right;
}

.tag {
  display: inline-block;
  border: 1px solid darkgreen;
  background-color: lightgreen;
  padding: 4px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.tag:last-child {
  margin-right: 0;
}
