.root {
  border: 2px solid grey;
  padding: 1em;
  margin-bottom: 1em;
  background: #efe;
}

.root:last-child {
  margin-bottom: 0;
}

.rootDone {
  background: greenyellow;
}

.textWithButtons {
  line-height: 2em;
}

.textWithButtons::after {
  display: block;
  clear: both;
  content: '';
}

.text {
  float: left;
  font-weight: bold;
}

.textDone {
  text-decoration: line-through;
}

.button {
  float: right;
  margin-left: 0.5em;
}

.tag {
  display: inline-block;
  border: 1px solid darkgreen;
  background-color: lightgreen;
  padding: 4px;
  margin-right: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}

.tag:last-child {
  margin-right: 0;
}
